html, body {
  background-color: green;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0 auto;
  position: relative;
  top: 44px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.row {
  margin-top: 30px;
}

.footer {
  color: #31363d;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 100px;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding-right: 40px;
}

.row {
    margin-top: 0;
  }

.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: width/2;
  padding-top: 50px;
}
